Package: certificatemanager
Version: 1.8.0-1
Architecture: amd64
Maintainer: J.F.Gratton <nexus@famillegratton.net>
Description: Certificate and PKI management tool
 Create your own CA cert, then create/sign your leaf certs off that CA
Section: SSL utilities
Build-Depends: golang-any
Depends: bash-completion
