Package: certificatemanager
Version: 0.500-1
Architecture: amd64
Maintainer: J.F.Gratton <nexus@famillegratton.net>
Description: My own certificate manager
 Tool to manage root CA and server SSL certificates
Section: Administration Utilities
Depends: gcc
